<p>
  <strong>Codigo:</strong>
  <%= @product.code %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Existencia:</strong>
  <%= @product.stock %>
</p>

<%= link_to 'Back', products_path %>


